#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display: block;
	width: 130px;
	float: left;
	margin-left: 2px;
	padding: 0 5px;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#322EA6;
}

#mainMenu a.link-active {
	background-color:#322EA6;
	color:#fff;
}

#mainMenu a:hover {
	background-color:#322EA6;
	color:#fff;
}

nav.navigationMenu{
    text-align: center;
}