td, th{
    padding: 0.2rem !important;
    border: 1px solid #ccc !important;
    text-align: center !important;
}

table{
      width: 65%;
}

th {
    background: lightblue !important;
    border-color: white !important;
    font-weight: bold !important;
}

.lightblue{
    background-color: #322EA6 !important; cursor: pointer;
    border-radius: 10px;
  }

  button.blue:hover{
    background-color: #4a44ff !important;
}

.blue{
    padding: 10px !important;
}